/*fonts*/

@font-face {
    font-family: 'NK767-Regular';
    src: url('../fonts/NK767-Regular.woff2') format('woff2'), url('../fonts/NK767-Regular.woff') format('woff'), url('../fonts/NK767-Regular.ttf') format('truetype'), url('../fonts/NK767-Regular.svg#NK767-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRegular';
    src: url('../fonts/ArialRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*end-fonts*/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "ArialRegular";
}

div:before,
ul:before,
form:before {
    content: "";
    display: block;
    clear: both;
}

div:after,
ul:after,
form:after {
    content: "";
    display: block;
    clear: both;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:focus {
    color: #cc0000;
}

a:active {
    color: #cbcbcb;
}

.blue,
.active {
    color: #04aff8;
}

.ul:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    background: #cbcbcb;
}

.top-nav {
    height: 41px;
    line-height: 42px;
}

.nav {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 29px;
}

.nav-open {
    left: 0px!important;
    right: 0;
    display: block!important;
    -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    transition: all 8s ease;
}

.nav li {
    float: left;
    margin-right: 24px;
}

.nav li:last-child {
    margin: 0;
    color: #fe0005;
}

.nav li:last-child a {
    color: #fe0005;
}

.nav a {
    color: #929292;
}

.nav a:hover {
    text-decoration: underline;
}

.header {
    background: #000837;
    padding: 8px 14px;
}

.burger-icon {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 10;
    font-size: 48px;
    text-align: center;
}

.logo {
    max-width: 152px;
    margin: 0 37px 0 26px;
    display: inline-block;
}

.header-center {
    display: inline-block;
    vertical-align: top;
}

.telephone {
    font-size: 26px;
    font-family: 'NK767-Regular';
    list-style: none;
    margin: 0 0 20px 0;
    padding: 3px 0 0 0;
}

.telephone li a:hover {
    color: #04aff8;
}

.telephone li {
    float: left;
    position: relative;
    margin-right: 25px;
}

.telephone li:not(:first-child):before {
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    left: -13px;
    top: 5px;
    background: #ffffff;
}

.telephone li:first-child:after {
    content: "Круглосуточно без выходных";
    display: block;
    font-size: 8px;
    color: #1a9dd6;
    position: absolute;
    bottom: -4px;
    font-family: 'ArialRegular';
}

.telephone li:last-child {
    margin: 0;
}

.telephone li span {
    margin-right: 8px;
}

input[type="search"],
input[type="submit"] {
    margin: 0;
    float: left;
    height: 33px;
    outline: none;
}

input[type="search"] {
    width: 85%;
    border: 1px solid #9d9d9d;
    border-right: none;
    font-style: italic;
    font-size: 12px;
    padding-left: 12px;
    font-family: 'ArialRegular';
}

input[type="search"]:focus {
    color: #929292;
}

input[type="submit"] {
    width: 15%;
    background: #cc0000;
    border: 1px solid #990000;
    color: #ffffff;
    cursor: pointer;
}

.user-menu {
    float: right;
    padding-top: 13px;
}

.select-language {
    float: left;
    text-transform: uppercase;
    margin-right: 36px;
}

.lang-ua {
    margin-right: 6px;
    position: relative;
}

.lang-ua:after {
    content: "";
    display: block;
    height: 9px;
    width: 2px;
    position: absolute;
    background: #ffffff;
    right: -6px;
    top: 2px;
}

.user-buttons {
    float: right;
}

.registration {
    margin: 0 37px 0 5px;
}

.registration,
.login {
    text-decoration: underline;
}

.registration:hover,
.login:hover {
    color: #04aff8;
}

.basket {
    display: block;
    height: 33px;
    width: 152px;
    line-height: 33px;
    text-align: right;
    background: url(../img/basket.png) left no-repeat #33cc00;
    background-position-x: 13px;
    margin-top: 27px;
    padding-right: 22px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
}

.basket:hover {
    background-color: #2aa600;
}

.categories {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #212121;
    font-size: 26px;
    font-family: 'NK767-Regular';
    height: 53px;
    line-height: 56px;
    text-transform: uppercase;
    overflow: hidden;
}

.categories li {
    float: left;
    border-right: 1px solid #ffffff;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
}

.categories li:last-child {
    border: none;
}

.categories li a:hover {
    color: #04aff8;
}

.categories-lvl-1 {
    display: block;
}

.hero {
    position: relative;
    color: #ffffff;
}

.hero-img {
    vertical-align: top;
    display: block;
    width: 100%;
    height: auto;
    min-height: 190px;
}

.hero-img-mobile {
    display: none;
    width: 100%;
    height: auto;
}

.hero-text {
    font-family: 'NK767-Regular';
    position: absolute;
    right: 0;
    top: 2px;
    max-width: 509px;
}

.hero-text h2 {
    font-size: 49px;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 1;
    margin-bottom: 31px;
}

.hero-text .old-price {
    font-size: 31px;
    text-decoration: line-through;
    text-transform: uppercase;
    padding-left: 7px;
    margin: 0;
}

.hero-text .new-price {
    font-size: 53px;
    background: #ffe100;
    max-width: 164px;
    max-height: 60px;
    text-align: right;
    color: #000000;
    margin: -2px 0 0 -1px;
}

.conditions {
    background: url(../img/conditions-bg.jpg);
    background-size: cover;
    height: 79px;
    line-height: 81px;
}

.conditions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.conditions li {
    float: left;
    color: #000000;
    width: 20%;
    text-align: center;
    position: relative;
}

.conditions img {
    vertical-align: middle;
}

.conditions li a {
    color: #000000;
    font-family: 'NK767-Regular';
    font-size: 22px;
    text-transform: uppercase;
    max-width: 170px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-align: left;
    padding-left: 22px;
    box-sizing: border-box;
}

.conditions li a:hover {
    color: #ffffff;
}

.massage {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.massage:target {
    display: block;
    pointer-events: auto;
}

.massage .massage-text {
    width: 210px;
    height: 230px;
    line-height: 231px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 25px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 22px 0px rgba(255, 255, 255, 1);
}

.massage .close {
    background: #000000;
    color: #FFFFFF;
    padding: 0;
    line-height: 25px;
    font-size: 16px;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 8px;
    -moz-border-radius: 12px;
    border-radius: 8px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #fe0005;
}


/*media*/

@media (max-width:1200px) {
    .logo {
        display: block;
        margin: 20px auto;
    }
    .hero-text {
        max-width: none;
        text-align: center;
        width: 100%;
    }
    .hero-text .new-price {
        margin: 0 auto;
    }
    .conditions li a {
        max-width: 129px;
    }
}

@media (max-width:992px) {
    .telephone {
        font-size: 20px;
    }
    .telephone li:first-child:after {
        font-size: 6px;
    }
    .user-menu {
        padding-top: 9px;
    }
    .select-language {
        margin-right: 20px;
    }
    .basket {
        margin-top: 24px;
    }
    .categories {
        font-size: 20px;
        height: 41px;
        line-height: 43px;
    }
    .hero-text h2 {
        font-size: 39px;
    }
    .hero-text .old-price {
        font-size: 24px;
    }
    .hero-text .new-price {
        margin: 0 auto;
        text-align: center;
        padding: 0;
        font-size: 37px;
    }
    .conditions li a {
        font-size: 16px;
        max-width: 90px;
    }
}

@media (max-width:768px) {
    .header-center {
        float: none;
        display: block;
        max-width: 480px;
        margin: 0 auto;
    }
    .telephone {
        font-size: 32px;
        max-width: 170px;
        text-align: center;
        margin: 20px auto;
    }
    .telephone li {
        margin: 5px 0;
        float: none;
    }
    .telephone li:before {
        content: "";
        display: none;
    }
    .telephone li:first-child:after {
        left: 50%;
        margin-left: -63px;
        font-size: 9px;
    }
    .user-menu {
        float: none;
        margin: 20px auto;
        max-width: 152px;
        display: block;
    }
    .select-language {
        margin: 20px 0;
        text-align: center;
        float: none;
    }
    .categories {
        font-size: 14px;
        height: 30px;
        line-height: 33px;
    }
    .hero-img {
        display: none;
    }
    .hero-img-mobile {
        display: block;
    }
    .hero-text h2 {
        max-width: 400px;
        margin: 50px auto 34px;
    }
    .conditions {
        height: auto;
        text-align: center;
    }
    .conditions img {
        display: block;
        margin: 0 auto;
    }
    .conditions li {
        width: 100%;
        border-bottom: 1px solid #ffffff;
        padding-top: 20px;
    }
    .conditions li a {
        font-size: 26px;
        max-width: none;
        padding: 0;
        text-align: center;
        text-decoration: underline;
    }
}

@media (max-width:580px) {
    .top-nav {
        height: 0;
    }
    .nav {
        padding: 50px 0 0 0;
        position: absolute;
        background: #000000;
        left: -100%;
        bottom: 0;
        z-index: 9;
        top: 0;
        text-align: center;
        display: none;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    .nav li {
        float: none;
        margin: 0;
        font-size: 20px;
    }
    .burger-icon {
        display: block;
    }
}

@media (max-width:480px) {
    input[type="submit"] {
        font-size: 11px;
    }
    .categories {
        height: auto;
        font-size: 26px;
    }
    .categories li {
        float: none;
        border-right: none;
        border-bottom: 1px solid #ffffff;
        width: 100%;
        text-align: center;
        display: block;
        line-height: 2;
    }
}


/*end-media*/
